/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* *******header***** */
.header{
    background-color:#07154c ;
    padding: 10px;
    text-align: center;
}

.header a{
    color: white;
    font-size: 20px;
    text-decoration: none;
    margin: 10px;
}
a.home{
    color:greenyellow;
}

/* **********main ********* */
.container{
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

/* *******section1***** */
/* *******exercise 1 */
h1{
    font-size: 30px;
    margin: 20px 0;
}
h2{
font-size: 25px;
margin: 5px 0
}

.outdiv{
    background-color:#90FFA9;
    margin: 20px auto;
   
    padding: 20px;
    border-radius: 20px;
 display: inline-block;

}

.div{
    width: 150px;
    height: 150px ;
    background-color: #99D8CA;
    box-shadow:inset 0px 0px 0px 12px #5873E2;
    border: 5px solid  #0D1430;
display: inline-block;
}

.circle1{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color:#99D8CA;
    display: inline-block;
}
.circle2{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #0D1430;
    display: inline-block;
}
.circle3{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #90FFA9;
    display: inline-block;
}
.circle4{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #5873E2;
    display: inline-block;
}
span{
    margin: 5px;
}

hr{
    margin: 30px auto;
    width: 600px;
    /* border-top: 2px dashed black; */
    border-style: dashed;
}

/* *********exercise 2 */

.big-box{
    width: 660px;
    border: 2px solid black;
    font-size: 0;
    display: inline-block;
}

.box{
    width: 200px;
    height: 180px;
    background-color:#dae0fa ;
    margin:10px ;
    display: inline-block;
}

.border{
    border: 2px solid black;
    box-sizing: border-box;
}

/* *********section 2******** */

.header{
    background-color:#07154c ;
    padding: 10px;
    text-align: center;
    margin: 20px 0;
}

.container1{
    margin-left:190px;
}
.blog{
    display: inline-block;
    width: 40%;
    /* border: 2px solid black; */
    margin: 10px;
}

.right-blog{
    vertical-align: top;

}

img{
    width: 100%;
}

h3{
    /* font-size: 20px; */
    font-weight: bold;
    margin-bottom: 10px;
}
button{
    margin: 20px 0;
    font-size: 20px;
    padding: 10px;
    border-radius: 30px;
    background-color: green;
    color: white;
}

.container1 a{
    color: green;
    margin: 40px 0;
    display: inline-block;
    font-size: 20px;
}

.img2{
    margin-bottom: 10px;
}