/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* ******cuscom***** */
*{
    box-sizing: border-box;
}
.container{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 30px;
}
.flex{
    display: flex;
}
.space-between{
    justify-content: space-between;
}
.align-item{
    align-items: center;
}
.space-between{
    justify-content: space-between;
}
.text-align{
    text-align: center;
}
.heading{
    font-size: 20px;
}
.bold{
    font-weight: 600;
}
.anchor{
    text-decoration: none;
}
.margin-left{
    margin-left: 20px;
}
.margin-top{
    margin-top: 20px;
}
.a-border{
    border: 1px solid black;
    padding: 8px;
    display: inline-block;
}
.border{
    border: 1px solid white;
}
.color{
    color: white;
}
img{
    width: 100%;
}
.text{
    font-size: 40px;
}

/* ****** main*********/
/* *********hero-section**** */
.hero-section{
    background-color: #2d2640;
    padding: 80px;
}
.width{
    width: 40%;
}
.line{
    width: 30%;
    margin-left: 0;
}
.head{
    font-size: 60px;
}
.para{
    color: rgb(225, 206, 206);
}
 
.hero-figure{
    width: 30%;
    position: absolute;
    top: 110px;
    right: 200px;
}

/* ***********section-image-article****** */
.image-article{
    padding-top: 150px;
}
.image{
    width: 44%;
}
/* ***********process-section***** */
.process-section{
   padding: 70px 30px;
}

.process{
    width: 30%;
    margin-top: 40px;
}
.icon{
    font-size: 30px;
    border-radius: 50%;
    padding: 6px;
    background-color: #8bb5f0;
}
/* ********work-section***** */
.work-section{
    background-color:#2d2640 ;
   padding: 60px  30px;
}

.work{
    width: 30%;
}
/* **********facebook-section***** */
.facebook-section{
    padding-top: 30px;
}
/* *******footer***** */
footer{
    background-color: #2d2640;
    margin: 20px 0;
}
small{
    padding: 20px 0;
    justify-content:center ;
}